.row{
    color: white;
    margin-left: 20px;
}

.row_posters {
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    padding: 20px;
    scrollbar-width: none; /* Firefox and Edge */
  }
  .row_posters::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

.row_poster{
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    object-fit: contain;
    transition: transform 450ms;
}

.row_poster:hover{
    transform: scale(1.1);
}

.row_posterLarge{
    max-height: 250px;
}